//
// Card stats
//

.card-stats {
    .card-body {
        padding: 1rem 1.5rem;
    }

    .card-status-bullet {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
    @media (min-width: 1200px) {
  min-height: 185px;
    }
}

    .form-dashboard{
        margin-left: -12px;
        @media (min-width: 1200px){
            margin-left: -15px;
    }
}
.dashboard-bottom-form{
    margin-top: 40px;
    margin-left: 15px;
    @media(min-width: 1200px){
        margin-left: 4%;
        margin-top: 50px;
    }
}
.generate-wallets{
    @media (min-width: 1200px){
        margin-left: 25px;
    }
}
.input-group-alternative{
    @media (min-width: 1200px){
        margin-bottom: 15px;
    }
}
.dataTables_wrapper .dataTables_filter input{
    border: 1px solid gray;
    padding-left: 5px;
    color:gray;
    border-radius: 10px;

}
.qr-codes-btn{
    @media (min-width: 1200px){
        margin-top: 18px;
    }
}
.register-form{
    -webkit-box-shadow: -1px 3px 7px 3px rgba(39,43,48,0.47);
-moz-box-shadow: -1px 3px 7px 3px rgba(39,43,48,0.47);
box-shadow: -1px 3px 7px 3px rgba(39,43,48,0.47);

}
.button, select{
    border-radius: 10px;
}
.merchandise-card{
    margin-top: 50px;
    @media(min-width: 1200px){
        margin-top: 90px;

    }
}
.footer{
    margin-top: 20px;
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
   
     
            a{
                color: #ffffff !important;
            }
   
 .nav-footer{
     li{
        a{
            color: #ffffff !important;
        }
     }
    
 }

}
.charityform{
    margin-top: 73px;
    @media (min-width: 1200px){
        margin-top: 90px !important;
    }
}
.footer{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.dataTables_length{
   select > option{
       
      border: 1px solid red !important;
   }
}
.paginate_button{
    border: 0px !important;
    
}
.paginate_button:hover{
    background: #e7e7e7 !important;
    color: #000 !important;
    border: none;
}
.paginate_button.current{
    background:#e7e7e7 !important;
    color: #ffffff !important;
    border: none !important;
}
.readmore{
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background: none !important;
    border: none;
    box-shadow: none !important;
   color: #525f7f;
   &:hover{
    background: #e7e7e7;
    color: #666;
    box-shadow: none !important;
    border: none;
   }
}
.edit-charity{
    text-align: center;
}
.merchandise-profile{
    text-align: center !important;
}
.edit-marchandise-detial{
    text-align: center !important;
}
.dataTables_length{
  select{
      background-color: #e7e7e7e7;
     
     &:focus{
         outline: none !important;
     }
  }
}
@media (min-width: 1200px){
    .dataTables_filter{
        margin-right: 20px;
    }
    .dataTables_length{
        margin-left: 20px;
    }
}
.card-profile{
    -webkit-box-shadow: -1px 3px 7px 3px rgba(39,43,48,0.47);
    -moz-box-shadow: -1px 3px 7px 3px rgba(39,43,48,0.47);
    box-shadow: -1px 3px 7px 3px rgba(39,43,48,0.47);
}
.card-profile-image{
    @media (min-width: 1200px){
        margin-top: -20px;
    }
}
.footer-content{
    @media (min-width: 1200px){
        padding-left: 15px;
    }
}
.dataTables_info{
    @media (min-width: 1200px){
        padding-left: 20px;
    }
}
.dataTables_paginate{
    @media (min-width: 1200px){
        padding-bottom: 20px;
    }
}
.email{
    background-color: none !important;
}
.card-header{
    border-bottom: 2px solid #f7f7f7;
    span{
        font-size: .9rem !important;
    }
}
.left-col{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    
}
.headingText{
    color: #11cdef;
    font-size: 15px;
    font-weight: 800;
    padding-top: 15px;
}
.left-heading{
    h1{
        color: #11cdef;
        font-size: 15px;
        font-weight: 800;
        padding-left: 8px;
    }
    p{
        padding-left: 8px;
    }
    
}
.left-outer{
   
    @media (min-width: 1200px){
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-right: 50px;
    }
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 .secodnDiv{
     padding-top: 15px;
     top: 0px;
     right: -16px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
    @media (min-width: 1200px){
        position: absolute;
       padding-bottom: 20px;
    }
    h3{
        color: #11cdef;
         font-size: 15px;
         font-weight: 800;
    }
 }
 .cherityImg{
    max-width: 100%;
     padding-top: 10px;
     margin-bottom: 15px;
 }
 .lowerDiv{
     background: #fff;
     border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 15px;
    @media (min-width: 768px){
        margin-bottom: 20px;
    }
    @media (min-width: 1200px){
        margin-bottom: 24px;
    }
 }
 .progress-circle{
     
     border: 3px solid  #11cdef;
     
    text-align: center;
    margin-bottom: 15px; 
    @media (min-width:1200px){
        position: relative;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    } 
 }
 .receiver-name{
     padding-top: 15px;
     h1{
         color: #11cdef;
         font-size: 15px;
         font-weight: 800;
         
     }
 }
 .MuiTab-textColorSecondary.Mui-selected{
     color: #ffffff !important;
     transition: all .5s ease-in-out;
     -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -ms-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
}
.MuiAppBar-colorPrimary{
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important
}
.PrivateTabIndicator-colorSecondary-3{
    background-color: #000 !important;
}
.progress-circle{
    @media (min-width: 768px){
       p{
        font-size: .8rem !important;
       } 
    }
    @media (min-width: 1200px){
        p{
            font-size: 1rem !important;
        }
    }
    
}
.blog-approve-links{
    text-align: center;
    padding-top: 15px;
    
}