.posts__head {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #fff;
}

.posts__head, .posts__item {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.posts__head > *, .posts__item > * {
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
/*post body*/
.posts__body {
    border: solid 1px #f3f4f5;
}
.posts__content > * {
    margin: 0;
}
.posts__item .posts__users {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.posts__content > *:not(:first-child) {
    margin-top: 10px;
}
.posts__content p {
    margin: 0;
    line-height: 1.6;
    color: #8e9091;
}
.posts__item .posts__replies {
    font-weight: 600;
}
.posts__users img {
    width: 32px;
}
.bg-fef2e0 {
    background-color: #fef2e0 !important;
}
.posts__item {
    padding: 24px 0;
}
.posts__item {
    background-color: #ffffff;
}
.bg-f2f4f6 {
    background-color: #f2f4f6 !important;
}
.posts__content i img {
    max-width: 16px;
}
.posts__content h3 {
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    color: #394047;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.posts__content i {
    margin-right: 15px;
    vertical-align: -2px;
    font-size: 20px;
    color: #5c6166;
}
.dropdown_forum.dropdown--user.dropdown--reverse-y {
    top: calc(100% + 20px);
    bottom: auto;
}
.dropdown_forum {
    display: none;
    position: absolute;
    /* padding: 20px 0;
    top: 100%;
    left: 0; */
    font-size: 16px;
    background-color: #ffffff;
    flex-direction: column;
    z-index: 1;
}
.dropdown_forum.dropdown--user {
    padding: 37px 10px 10px;
    top: auto;
    bottom: calc(100% + 20px);
    left: -46px;
    background-color: transparent;
}
.dropdown_forum.dropdown--open {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.posts__users-dropdown > * {
    width: 320px;
}

.dropdown__user {
    position: relative;
    padding: 30px 30px 24px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 8px 10px 3px rgb(0 0 0 / 4%);
    -moz-box-shadow: 0px 8px 10px 3px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 8px 10px 3px rgb(0 0 0 / 4%);
}
.dropdown__user-label, .dropdown__user-label:visited, .dropdown__user-label:active, .dropdown__user-label:link {
    color: #ffffff;
}
.bg-218380 {
    background-color: #218380 !important;
}

.dropdown__user-label {
    position: absolute;
    padding: 0;
    margin-top: -37px;
    margin-left: -37px;
    top: 0;
    left: 50%;
    font-size: 28px;
    font-weight: 700;
    border-radius: 50%;
    background-color: #f2f4f6;
    width: 74px;
    height: 74px;
    justify-content: center;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.dropdown__user-nav {
    justify-content: space-between;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.dropdown__user-nav i {
    font-size: 18px;
    color: #5c6166;
}
.dropdown__user-info {
    padding-top: 10px;
    margin-top: 0;
    text-align: center;
}
.dropdown__user-info a, .dropdown__user-info a:visited, .dropdown__user-info a:active, .dropdown__user-info a:link {
    color: #394047;
}
.dropdown__user-info p {
    margin: 0;
    font-size: 14px;
    color: #8e9091;
}
.dropdown__user-icons, .dropdown__user-statistic {
    position: relative;
    padding-top: 24px;
    margin-top: 22px;
    justify-content: center;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.dropdown__user-icons a {
    display: block;
    width: 48px;
    margin: 0 15px;
}
.dropdown__user-icons, .dropdown__user-statistic {
    position: relative;
    padding-top: 24px;
    margin-top: 22px;
    justify-content: center;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.dropdown__user-statistic div {
    margin: 0 7.5px;
    font-size: 14px;
}
.dropdown {
    display: none;
    position: absolute;
    padding: 20px 0;
    top: 100%;
    left: 0;
    font-size: 16px;
    background-color: #ffffff;
    flex-direction: column;
    z-index: 1;
}
.nav {
    position: relative;
    border-bottom: solid #e9ecee;
    flex-wrap: wrap;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.nav__categories {
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.nav__categories > * {
    margin-right: 15px;
}
.btn-select {
    padding: 0 40px 0 15px;
}
.btn-select {
    position: relative;
    height: 38px;
    font-size: 16px;
    background-color: #e9ecee;
    align-items: center;
    cursor: pointer;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.btn-select::after {
    content: '';
    position: absolute;
    display: block;
    margin-top: -5px;
    top: 50%;
    border-bottom: solid 1px #81858a;
    border-right: solid 1px #81858a;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn-select::after {
    right: 15px;
}
.nav [data-dropdown-list="categories"] {
    min-width: 350px;
}
.dropdown_forum.dropdown--design-01:not(.dropdown--reverse-y) {
    border-top: solid 1px #f9bc64;
    -webkit-box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 8%);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 8%);
}
.nav__select {
    position: relative;
}
/*post body end*/
.nav__categories {
    padding: 15px 0;
}
.nav__select {
    position: relative;
}
.posts__topic {
    width: 50%;
    min-width: 50%;
}
.posts__category {
    width: 13%;
    min-width: 13%;
}
.posts__users {
    width: 13%;
    min-width: 13%;
}
.posts__replies {
    width: 8%;
    min-width: 8%;
}
.posts__activity {
    width: 8%;
    min-width: 8%;
}
.posts__replies, .posts__views, .posts__activity {
    justify-content: center;
}
.posts__views {
    color: #8e9091;
}
.posts__views_header {
    color: #fff !important;
}
.posts__activity {
    color: #8e9091;
}

.posts__activity_header {
    color: #fff !important;
}
.posts__item {
    padding: 24px 0;
}
.posts__section-left, .posts__section-right {
    align-items: center;
}
.posts__section-left {
    width: 63%;
    min-width: 63%;
}
.posts__section-left .posts__topic {
    width: 79.37%;
    min-width: 79.37%;
}
.posts__item .posts__topic {
    padding-left: 30px;
}

.posts__item .posts__topic {
    padding-right: 15px;
}
.posts__section-right {
    width: 37%;
    min-width: 37%;
}
.posts__section-left, .posts__section-right {
    align-items: center;
}
.posts__section-right .posts__users {
    width: 35.13%;
    min-width: 35.13%;
}
.posts__section-right .posts__replies {
    width: 21.62%;
    min-width: 21.62%;
}
.posts__replies, .posts__views, .posts__activity {
    justify-content: center;
}
.posts__section-right .posts__views {
    width: 21.62%;
    min-width: 21.62%;
}
.posts__section-right .posts__activity {
    width: 21.62%;
    min-width: 21.62%;
}


/*======single topic css========*/
.topics {
    margin-top: 32px;
}
.topics__heading {
    margin-bottom: 38px;
}
.topics__heading-title {
    font-size: 25px;
    color: white;
}

.topics__heading-title {
    margin: 0;
    font-weight: 600;
}
.topics__heading-info {
    margin-top: 5px;
    flex-wrap: wrap;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topics__heading-info > *:not(:last-child) {
    margin-right: 30px;
}
.category i {
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: #e9ecee;
    width: 8px;
    height: 8px;
}
.bg-3ebafa {
    background-color: #3ebafa !important;
}
.tags a:not(:last-child) {
    margin-right: 6px;
}
.topics__heading-info > * {
    margin-top: 10px;
}
.tags {
    margin-bottom: -6px;
    flex-wrap: wrap;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.tags a {
    height: 22px;
    padding: 0 8px;
    border-radius: 3px;
}
.tags a {
    margin-bottom: 6px;
    background-color: #394047;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.bg-4f80b0 {
    background-color: #4f80b0 !important;
}
.bg-424ee8 {
    background-color: #424ee8 !important;
}
.bg-36b7d7 {
    background-color: #36b7d7 !important;
}
.topics__body {
    align-items: flex-start;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topics__content {
    width: 100%;
    margin-top: 30px;
}
.topic {
    padding: 30px 30px;
}

.topic {
    background-color: #ffffff;
    border: solid 1px #f3f4f5;
}
.topic__head {
    padding-bottom: 30px;
}

.topic__head {
    position: relative;
    padding-top: 2px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__avatar {
    margin-right: 30px;
}
.avatar img {
    width: 32px;
}
.topic__caption {
    width: 100%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__name a, .topic__name a:visited, .topic__name a:active, .topic__name a:link {
    color: #394047;
}
.topic__date {
    margin-left: auto;
}

.topic__date {
    font-size: 14px;
    color: #8e9091;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__date i {
    margin-top: -2px;
    margin-right: 14px;
    font-size: 18px;
}
.topic__content {
    padding-left: 62px;
}
.topic__text > p {
    margin: 0;
    color: #8e9091;
    line-height: 1.5;
}
.topic__text > *:not(:first-child) {
    margin-top: 24px;
}

.topic__text > p {
    margin: 0;
    color: #8e9091;
    line-height: 1.5;
}
.topic__footer {
    padding-top: 30px;
    margin-top: 38px;
}
.topic__footer {
    margin-bottom: -10px;
    border-top: solid 1px #e9ecee;
    flex-wrap: wrap;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__footer-likes {
    flex-wrap: wrap;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__footer > * {
    margin-bottom: 10px;
}
.topic__footer-likes div:not(:last-child) {
    margin-right: 30px;
}

.topic__footer-likes div {
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__footer-likes div a {
    margin-right: 15px;
}
.topic__footer-share {
    margin-left: auto;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__footer-share > div {
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__footer-share > *, .topic__footer-share > div > *:not(:first-child) {
    margin-left: 30px;
}
.topic__footer-share i {
    font-size: 18px;
    color: #5c6166;
}

.topic__info {
    position: relative;
    padding-right: 35px;
    margin-top: -6px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__info-section {
    flex-wrap: wrap;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__info-section > div {
    margin-right: 30px;
    justify-content: space-between;
    flex-direction: column;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__info-title {
    color: #8e9091;
}
.topic__info-avatar {
    margin-top: 8px;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__info-avatar a {
    margin-right: 15px;
}
.topic__info-avatar span {
    color: #8e9091;
}
.topic__title {
    margin-top: 30px;
    padding-top: 18px;
}

.topic__title {
    border-top: solid 1px #e9ecee;
}
.topic__title p {
    color: #8e9091;
}
.topic__posters {
    margin-top: 15px;
    flex-wrap: wrap;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.avatar span {
    height: 18px;
    padding: 0 5px;
    position: absolute;
    top: -9px;
    right: -7px;
    font-size: 12px;
    border-radius: 3px;
    background-color: #4c5359;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__posters > * {
    margin-top: 10px;
    margin-right: 8px;
}

.avatar {
    position: relative;
    display: block;
    width: 32px;
}
.topic__list ul {
    margin-top: -4px;
}
.topic__list li {
    margin-top: 4px;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__list li > span {
    min-width: 24px;
    height: 18px;
    padding: 0 4px;
    margin-right: 15px;
}

.topic__list li > span {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.2;
    background-color: #ebeef0;
    color: #394047;
    justify-content: center;
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.topic__list a, .topic__list a:visited, .topic__list a:active, .topic__list a:link {
    color: #4f80b0;
}
.topic__title p span {
    font-weight: 600;
    color: #394047;
}
.topic__btns {
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 0;
    flex-wrap: wrap;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__btns > * {
    margin-bottom: 10px;
}

.btn--type-02 {
    background-color: #f9bc64!important;
}
.btn_forum {
    height: 38px;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 0;
    background-color: #e9ecee;
    justify-content: center;
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.topic__select {
    margin-left: auto;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__select p {
    margin: 0 15px 0 0;
    color: #8e9091;
}
.topic__caption {
    width: 100%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__date {
    margin-left: auto;
}
.topic__date {
    font-size: 14px;
    color: #8e9091;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__user {
    margin-right: 15px;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.topic__user i.icon-Reply_Fill {
    -webkit-transform: rotate3d(0, 1, 0, 
180deg
);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 
180deg
);
}

.topic__user i {
    font-size: 14px;
    color: #5c6166;
}
.topic__date i {
    margin-top: -2px;
    margin-right: 14px;
}
.topic__user > * {
    margin-right: 15px;
}
.nav__menu {
    margin-left: 15px;
}
.nav__menu .nav__select {
    display: none;
}
.nav__select {
    position: relative;
}
.nav__menu > ul {
    height: 100%;
    margin: 0 -15px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.nav__menu > ul li {
    padding: 0 15px;
}
.nav__menu > ul li a {
    position: relative;
    height: 100%;
    color: #fff;
    line-height: 1.2;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.nav__menu > ul li.active a::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    border-bottom: solid 2px #f9bc64;
}
.nav [data-dropdown-list="tags"] {
    min-width: 350px;
}
.category i {
    margin-right: 10px;
    margin-left: -12px;
    margin-top: 8px;
    border-radius: 50%;
    background-color: #e9ecee;
    /* right: 0; */
    width: 8px;
    height: 8px;
    position: absolute;
}
a.category {
    color: #0d131c;
}
.bg-f9bc64 {
    background-color: #f9bc64 !important;
}
.dropdown__catalog li {
    margin-bottom: 4px;
    margin-top: 4px;
}
.tags-select {
    padding: 21px;
}
.dropdown__catalog {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
/* =======single topic======== */
.topics {
    margin-top: 32px;
}
.topics__control a {
    color: #394047;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 6px;
}
.btn_forum i {
    margin-right: 15px;
    font-size: 18px;
    color: #5c6166;
}
.topic {
    padding: 30px 30px;
    margin-bottom: 30px;
}
.topic__footer-show a {
    color: #000;
    font-weight: 600;
}
.topic__footer-show {
    margin-left: auto;
}

.topic__footer > * {
    margin-bottom: 10px;
}
.topic.topic--comment {
    margin-left: 92px;
}
 .topic--selected {
    padding-bottom: 20px;
    border: dashed 1px #f85e5e;
    background-color: #fff8f8;
}
.topics__heading-info a {
    color: #fff;
    padding-left: 20px;
}
.calendar-right-box {
    flex-direction: column;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    padding-right: 27px;
}
.calendar-right-box .calendar__current {
    position: absolute;
    height: 40px;
    padding-left: 15px;
    width: 75px;
    /* margin-right: 23px; */
    margin-top: -20px;
    border-left: solid 5px #f9bc64;
    top: 50%;
    left: -3px;
}
.calendar-right-box .calendar__center > div:not(:first-child) {
    margin-top: 6px;
}

.calendar-right-box .calendar__range {
    position: relative;
    height: 370px;
    border-left: solid 1px #e9ecee;
}
.topics__calendar {
    margin-left: auto;
    justify-content: flex-end;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 130px;
    min-width: 130px;
}

.topics__calendar {
    padding-left: 15px;
}
.calendar__center > div:not(:first-child) {
    margin-top: 6px;
}
.calendar__current p {
    margin: 0;
    line-height: 1.2;
    font-weight: 600;
}
.calendar__current span {
    color: #8e9091;
}
.topic__btns .btn_forum {
    color: #fff;
}

.calendar__first, .calendar__last {
    margin-left: 2px;
    color: #fff;
}

/*Offieing page select box*/
.dropdown-offering {
    display: none;
    position: absolute;
    padding: unset !important;
    top:unset !important;
    left: 0;
    font-size: 16px;
    background-color:unset !important;
    flex-direction: column;
    z-index: 1;
}

.go-back {
    position: fixed;
    right: 77px;
    color: #5c6166;
    /* bottom: 31px; */
    /* background: #f9bc64; */
}



/*------------New-topic CSS  START*/

.create {
    background-color: #ffffff;
    border: solid 1px #f3f4f5;
}
.create__title img {
    width: 28px;
    margin-right: 15px;
}
.create__title {
    font-weight: 600;
}
.create__head {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #e9ecee;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.create__head > span {
    margin-left: auto;
    color: #8e9091;
}
.create__section {
    margin-bottom: 24px;
}
.create__title {
    font-weight: 600;
    font-size: 18px;
    color: #000;
}
.create__title img {
    width: 28px;
    margin-right: 15px;
    position: relative;
    top: 10px;
}
.create__label {
    display: block;
    margin-bottom: 6px;
}
.create .custom-select {
    display: block;
}
.custom-select {
    position: relative;
}

.create .custom-select select {
    display: block;
    width: 100%;
    border: solid 1px #e9ecee;
    background-color: #f8f9fa;
    color: #8e9091;
}


.create__textarea-head {
    position: relative;
    border: solid 1px #e9ecee;
    border-bottom: none;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
}

.create__textarea-head i {
    color: #5c6166;
}
[class^="icon-"]::before {
    color: inherit;
}
[class^="icon-"]::before {
    margin: 0;
}

i.fas.fa-quote-right {
    margin: 16px 15px 20px 45px;
}
.create__box .custom-checkbox {
    border-radius: 3px;
}

.create__box label {
    margin-right: 20px;
}
label.custom-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: -4px;
    background-color: #e9ecee;
    cursor: pointer;
    width: 18px;
    height: 18px;
    top: 4px;
    left: 8px;
}
label.custom-checkbox input {
    display: none;
}
.create__box i.fa-twitter {
    color: #55acee;
}
.create__box i.fa-google-plus {
    color: #dd4b39;
}


.create__box label {
    margin-right: 20px;
}
label.custom-radio {
    position: relative;
    display: inline-block;
    vertical-align: -4px;
    background-color: #e9ecee;
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
    top: 8px;
    right: -10px;
}

label.custom-radio input:checked + i {
    display: block;
}

label.custom-radio i {
    display: none;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 42%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    border-radius: 50%;
    background-color: #5b6065;
}
input[type=checkbox], input[type=radio] {
    margin: 0;
}

label.custom-checkbox input:checked + i {
    display: block;
}
label.custom-checkbox i {
    display: none;
    position: absolute;
    width: 6px;
    height: 9px;
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -6px;
    border-bottom: solid 2px #5b6065;
    border-right: solid 2px #5b6065;
    -webkit-transform: rotate(
45deg
);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(
45deg
);
}
.create__box i {
    font-size: 20px;
}
.category i {
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 50%;
    background-color: #e9ecee;
    width: 8px;
    height: 8px;
}

.bg-368f8b {
    background-color: #368f8b !important;
}
.bg-4436f8 {
    background-color: #4436f8 !important;
}
.bg-c6b38e {
    background-color: #c6b38e !important;
}
.bg-777da7 {
    background-color: #777da7 !important;
}
.create__box i.fa-facebook-square {
    color: #3b5998;
}
.create__box i {
    font-size: 20px;
}

a.create__btn-cansel.btn {
    color: #a4a4a4;
    font-weight: 300;
}
[class^="icon-"] {
    color: #93969a;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}
[class^="icon-"] {
    color: #93969a;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

[class^="icon-"] {
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'mainfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.create__textarea-head span {
    position: relative;
    cursor: pointer;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
@media only screen and (min-width: 1040px){

.create__textarea-head span {
    margin-right: 30px;
}
}
.create__textarea-head span {
    position: relative;
    cursor: pointer;
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

[class^="icon-"]::before {
    color: inherit;
}
[class^="icon-"]::before {
    margin: 0;
}

.icon-Emoticon:before {
    content: "\e919";
    color: #5b6166;
}

@media only screen and (min-width: 1040px){

    .create__textarea-head i {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1040px){

    .create {
        padding: 20px 30px 30px;
        margin-top: 44px;
    }


}

@media only screen and (min-width: 1040px){

    .create__textarea-head {
        min-height: 80px;
        padding: 18px 20px;
    }
}

@media only screen and (min-width: 1040px){

    .create .custom-select select {
        height: 48px;
        padding: 8px 20px;
        font-size: 16px;
    }
}
/*------------New-topic CSS  END*/
 /* ================= sign-in ================ */
 .sign-in {
    background-color: #e75348;
    }
    .sign-in-page {
       float: left;
       width: 100%;
       padding: 7px 0 89px 0;
    }
    .signin-popup {
    width: 870px;
    margin: 0 auto;
    position: relative;
    }
    .signin-popup:before {
    content: '';
    position: absolute;
    top: -16px;
    left: 56px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    }
    .signin-popup:after {
    content: '';
    position: absolute;
    top: -37px;
    left: 43px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    }
    .signin-pop {
       float: left;
       width: 100%;
       background-color: transparent;
       box-shadow: 0px 2px 12px #fff;
       position: relative;
    }
    .signin-pop:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
    width: 1px;
    background-color: #f0f0f0;
    }
    .dff-tab {
    display: none;
    }
    .dff-tab.current {
    display: block;
    }
    .cmp-info {
    float: left;
    width: 100%;
    padding: 70px 5px 92px 5px;
    }
    .cm-logo {
    float: left;
    width: 100%;
    padding-left: 45px;
    margin-bottom: 120px;
    }
    .cm-logo img {
    margin-bottom: 30px;
    }
    .cm-logo > p {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        float: left;
        width: 100%;
    }
    .cmp-info > img {
    width: 100%;
    padding-left: 10px;
    }
    /* =============== login-sec ============= */
    .login-sec {
    float: left;
    width: 100%;
    padding: 30px 0;
    position: relative;
    }
    .login-sec:before {
    content: '';
    position: absolute;
    bottom: -15px;
    right: 70px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    background-color: #fff;
    }
    .login-sec:after {
    content: '';
    position: absolute;
    bottom: -40px;
    right: 55px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    background-color: #fff;
    }
    .sign-control {
    float: left;
    width: 100%;
    text-align: right;
    padding-right: 50px;
    margin-bottom: 70px;
    }
    .sign-control li {
    display: inline-block;
    margin-right: -5px;
    }
    .sign-control li a {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    background-color: #e5e5e5;
    padding: 7px 10px;
    display: inline-block;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    }
    .sign-control li:last-child a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    }
    .sign-control li.current a {
    background-color: #e44d3a;
    color: #fff;
    }
    .sign_in_sec {
    float: left;
    width: 100%;
    padding-right: 75px;
    padding-left: 60px;
    display: none;
    }
    .sign_in_sec.current {
    display: block;
    }
    .sign_in_sec h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
    }
    .sign_in_sec h3:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #e44d3a;
    }
    /* ============= sign_in_sec ============= */
    .sign_in_sec form {
    float: left;
    width: 100%;
    }
    .sn-field {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    }
    .sn-field.pd-more {
    margin-bottom: 0;
    }
    .sn-field.pd-more input {
    padding-left: 40px;
    }
    .sn-field > i {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #666666;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    }
    .sn-field > span {
    position: absolute;
    top: 50%;
    right: 15px;
    font-weight: 700;
    color: #666666;
    font-size: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    }
    .sign_in_sec form input {
    height: 40px;
    }
    .sign_in_sec form input,
    .sign_in_sec form select {
    width: 100%;
    padding: 0 15px 0 40px;
    color: #b2b2b2;
    font-size: 14px;
    border:1px solid #e5e5e5;
    }
    .sign_in_sec form select {
    line-height: 40px;
    height: 40px;
    }
    .sign_in_sec form button {
    color: #ffffff;
    font-size: 16px;
    background-color: #e44d3a;
    padding: 12px 27px;
    border:0;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
    }
    .checky-sec {
    float: left;
    width: 100%;
    margin-top: 10px;
    }
    .checky-sec.st2 small {
    font-size: 13px;
    width: 90%;
    line-height: 20px;
    }
    .checky-sec.st2 .fgt-sec input[type="checkbox"] + label span {
    margin-top: 3px;
    }
    .fgt-sec {
    float: left;
    }
    .fgt-sec input[type="checkbox"] {
    display: none;
    } 
    .fgt-sec label {
    float: left;
    }
    .fgt-sec input[type="checkbox"] + label span {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    border:1px solid #d2d2d2;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    }
    .fgt-sec input[type="checkbox"] + label span:before {
    content: '';
    width: 7px;
    height: 7px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    font-size: 8px;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    background-color: #e44d3a;
    position: absolute;
    font-family: fontawesome;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    }
    .fgt-sec input[type="checkbox"]:checked + label span:before {
    opacity: 1;
    visibility: visible;
    }
    .fgt-sec small {
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    }
    .checky-sec > a {
    float: right;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    }
    /* ============ login-resources ============= */

.login-resources {
float: left;
width: 100%;
text-align: center;
margin-top: 27px;
}
.login-resources h4 {
color: #fff;
font-size: 14px;
font-weight: 600;
margin-bottom: 30px;
text-transform: uppercase;
}
.login-resources ul {
float: left;
width: 100%;
}
.login-resources ul li {
float: left;
width: 100%;
margin-bottom: 20px;
}
.login-resources ul li a {
color: #ffffff;
font-size: 15px;
font-weight: 500;
float: left;
width: 100%;
padding: 10px 0;
}
.login-resources ul li a i {
margin-right: 15px;
}
.fb {
background-color: #3b5998;
}
.tw {
background-color: #4099ff;
}
.tw .fa-twitter {
color: #fff;
}

/* =============== signup-tab ============== */

.signup-tab {
float: left;
width: 100%;
border: 1px solid #e5e5e5;
text-align: center;
padding: 15px 0;
margin-bottom: 20px;
position: relative;
margin-top: -30px;
}
.signup-tab > i {
position: absolute;
top: 15px;
left: 13px;
color: #000;
font-size: 14px;
}
.signup-tab h2 {
color: #000000;
font-size: 14px;
font-weight: 500;
margin-bottom: 15px;
}
.signup-tab ul {
float: left;
width: 100%;
}
.signup-tab ul li {
display: inline-block;
margin-right: -4px;  
}
.signup-tab ul li a {
color: #000000;
font-size: 14px;
font-weight: 500;
background-color: #e5e5e5;
padding: 10px 15px;
-webkit-border-radius: 3px 0px 0px 3px;
-moz-border-radius: 3px 0px 0px 3px;
-ms-border-radius: 3px 0px 0px 3px;
-o-border-radius: 3px 0px 0px 3px;
border-radius: 3px 0px 0px 3px;
display: inline-block;
}
.signup-tab ul li.current a {
background-color: #e44d3a;
color: #fff;
}
.signup-tab ul li:last-child a {
-webkit-border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
-ms-border-radius: 0px 3px 3px 0px;
-o-border-radius: 0px 3px 3px 0px;
border-radius: 0px 3px 3px 0px;
}
.bg-color-theme {
background: #182231!important;
}

.loginlogo {
	padding-top: '40';
	color: white !important;
    padding-top: 29px;
}
