.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* //=============================   offering css ======================= */

header#site-header {
  z-index: 9;
}
.card {
background: white;
margin-top: 40px;
height: 450px;
width: 100%;
transition: 0.6s all ease;
margin-left: auto;
margin-right: auto;
border: none;
box-shadow: 5px 5px 20px #000;
}
.logo-box {
      background: white;
  width: 20%;
  height: auto;
  position: relative;
  top: -17px;
  box-shadow: 0px 5px 15px #0003;
  left: 10px;
  padding: 5px;
}
/* I used background url to allow me to change the height and width without needing extra css */

.cardTop{
transition: 0.4s all ease;
height:100%;

}
.cardHoverText ul li {
  border-bottom: 1px solid #a4a4a429;
  padding: 5px;
}
button.max-btn {
  background: green;
  color: #fff;
  padding: 2px 10px;
  border: none;
  margin: 0px 10px 0px 0px;
}

button.funded {
  padding: 5px 20px;
  border-radius: 2px;
  color: #fff;
  background: #6b6b6b;
  box-shadow: 0px 2px 10px #000;
  border: 0px;
  margin: 2px;
  position: absolute;
  top: 5px;
  left: 5px
}
button.funded a { 
  color: #fff;   
}
button.soldout a { 
  color: #fff;   
}
button.soldout {
  padding: 5px 20px;
  border-radius: 2px;
  color: #fff;
  background: #ff5e3a;
  box-shadow: 0px 2px 10px #000;
  border: 0px;
  margin: 2px;
  position: absolute;
  top: 5px;
  left: 100px
}

.cardBottom {
height: 45%;
text-wrap: normal;
transition: 0.4s all ease;
}

.cardText {
min-height: 100%;
padding: 0px 20px;
}

.cardTitle {
font-size: 24px;
font-weight: 700;
}

.cardInfo {
padding-top: 10px;
font-size: 14px;
font-weight: 500;
color: #a4a4a4;
}

.cardTop img {
  width: 100%;
  height: auto;
}
/* Hidding the entire so anything we put in will only show on hover */

.cardHoverText {
visibility: hidden;
}

/* Hover affects */

.card:hover {
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

span.green-text {
  font-size: 18px;
  font-weight: 600;
  color: green;
  margin-right: 10px;
}

/* Using className + hover followed by child element allows you to change child elements when parent is hovered */

.card:hover .cardHoverText {
visibility: visible;
transition: 0.4s all ease;
transition-delay: 0.1999s;
}

.card:hover .cardBottom {
    transition: 0.4s all ease;
  height: 52%;
  opacity: 1;
  background: #fff;
  z-index: 99;
}

.card:hover .cardTop {
height: 35%;
opacity: 0.8;
transition: 0.4s all ease;
}

.cardHoverText ul li span {
  font-size: 18px;
  font-weight: 800;
  margin-right: 10px;
  font-family: monospace;
}
.cardHoverText ul li a {
  font-size: 14px;
  font-weight: 200;
  /*margin-right: 10px;*/
  font-family: monospace;
}
h1.main-heading {
  font-size: 46px;
  color: #fff;
  text-shadow: 0px 8px 8px #000;
  font-weight: 600;
}
h6.text-heading {
  font-size: 18px;
  color: #b9b9b9;
  text-shadow: 0px 2px 4px #000;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 8px 33px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border: 1px solid #fff;
}

.dropdown {
position: relative;
display: inline-block;
float: right;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}


/* //=======================================  offering detail ==================== */


header#site-header {
  z-index: 9;
}
.card {
background: white;
margin-top: 40px;
height: 450px;
width: 100%;
transition: 0.6s all ease;
margin-left: auto;
margin-right: auto;
border: none;
box-shadow: 5px 5px 20px #000;
}
.logo-box {
      background: white;
  width: 20%;
  height: auto;
  position: relative;
  top: -17px;
  box-shadow: 0px 5px 15px #0003;
  left: 10px;
  padding: 5px;
}
/* I used background url to allow me to change the height and width without needing extra css */

.cardTop{
transition: 0.4s all ease;
height:100%;

}
.cardHoverText ul li {
  border-bottom: 1px solid #a4a4a429;
  padding: 5px;
}
button.max-btn {
  background: green;
  color: #fff;
  padding: 2px 10px;
  border: none;
  margin: 0px 10px 0px 0px;
}

button.funded {
  padding: 5px 20px;
  border-radius: 2px;
  color: #fff;
  background: #6b6b6b;
  box-shadow: 0px 2px 10px #000;
  border: 0px;
  margin: 2px;
  position: absolute;
  top: 5px;
  left: 5px
}
button.funded a { 
  color: #fff;   
}
button.soldout a { 
  color: #fff;   
}
button.soldout {
  padding: 5px 20px;
  border-radius: 2px;
  color: #fff;
  background: #ff5e3a;
  box-shadow: 0px 2px 10px #000;
  border: 0px;
  margin: 2px;
  position: absolute;
  top: 5px;
  left: 100px
}

.cardBottom {
height: 45%;
text-wrap: normal;
transition: 0.4s all ease;
}

.cardText {
min-height: 100%;
padding: 0px 20px;
}

.cardTitle {
font-size: 24px;
font-weight: 700;
}

.cardInfo {
padding-top: 10px;
font-size: 14px;
font-weight: 500;
color: #a4a4a4;
}

.cardTop img {
  width: 100%;
  height: auto;
}
/* Hidding the entire so anything we put in will only show on hover */

.cardHoverText {
visibility: hidden;
}

/* Hover affects */



span.green-text {
  font-size: 18px;
  font-weight: 600;
  color: green;
  margin-right: 10px;
}

/* Using className + hover followed by child element allows you to change child elements when parent is hovered */


.cardHoverText ul li span {
  font-size: 18px;
  font-weight: 800;
  margin-right: 10px;
  font-family: monospace;
}
.cardHoverText ul li a {
  font-size: 14px;
  font-weight: 200;
  /*margin-right: 10px;*/
  font-family: monospace;
}
h1.main-heading {
  font-size: 46px;
  color: #fff;
  text-shadow: 0px 8px 8px #000;
  font-weight: 600;
}
h6.text-heading {
  font-size: 18px;
  color: #b9b9b9;
  text-shadow: 0px 2px 4px #000;
}
.dropbtn {
      background-color: transparent;
  color: white;
  padding: 8px 33px;
  font-size: 24px;
  border: none;
}

.dropdown {
position: relative;
display: inline-block;
float: right;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}
h1.main-heading img {
  width: 50px;
  background: #fff;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #000;
}

button.crypto-btn {
  background: #ff5e3a;
  border: none;
  color: #fff;
  padding: 2px 15px;
}

button.Blockchain-btn {
  background: #efefef;
  border: none;
  color: #000;
  padding: 2px 15px;
}
iframe.video-you {
  width: 100%;
  height: 365px;
  margin: 20px 0px;
  box-shadow: 0px 5px 15px #000;
}
button.sold-btn {
  margin: 20px;
  background: green;
  color: #fff;
  border: none;
  padding: 5px 15px;
  box-shadow: 0px 2px 8px #000;
}

/*
CSS for the main interaction
*/
.tabset > input[type="radio"] {
position: absolute;
left: -200vw;
}

.tabset .tab-panel {
display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
display: block;
}



.tabset > label {
position: relative;
display: inline-block;
padding: 15px 15px 25px;
border: 1px solid transparent;
border-bottom: 0;
cursor: pointer;
font-weight: 600;
}

.tabset > label::after {
content: "";
position: absolute;
left: 15px;
bottom: 10px;
width: 22px;
height: 4px;
background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
background: #06c;
}

.tabset > input:checked + label {
border-color: #ccc;
border-bottom: 1px solid #fff;
margin-bottom: -1px;
}

.tab-panel {
padding: 30px 0;
border-top: 1px solid #ccc;
}

/*
Demo purposes only
*/

section#marzen p {
  font-size: 16px;
  color: #A4A4A4;
}
.tabset {
  max-width: 100%;
  margin: 100px 0px;
  background: #fff;
  box-shadow: 0px 10px 20px #000;
}

/* The Magic */
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
  height: 6em;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height .25s;
}

/* Aesthetic */


.accordion {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  font-family: "PT Sans" sans-serif
}
section.accordion-item h1 {
  font-size: 18px;
}
.accordion .accordion-item {

  border-bottom: 1px solid #6666661f;
  padding: 1em;
  color: #000;
  font-size: 10px;
}

.accordion h1 {
margin: 0;
}

button.primary-btn.how-work {
  background: transparent;
  padding: 5px 30px;
  width: 100%;
  margin: 20px 0px;
}
.tabs-section li {
  text-align: justify;
}

.tabs-section p {
  font-size: 16px!important;
  line-height: 1.5;
  color: #a4a4a4;
}
.tabs-section li {
  font-size: 16px;
  color: #a4a4a4;
}
.tabs-section h1 {
  font-size: 34px!important;
  line-height: 1.5;
  font-weight: 900;

}
.tabs-section {
     /*padding-bottom: 50px;*/
  margin-bottom: 20px;
  border-bottom: 1px solid #a4a4a440;
}

.tabs-section img {
  margin: 100px 0px;
}
.Documents-text {
  border: 1px solid #a4a4a447;
  text-align: center;
  padding: 5px 10px;
}
.Company-documents a {
  font-size: 18px;
}
.Company-documents {
  border: 1px solid #a4a4a440;
  padding: 10px;
  margin: 10px 0px;
}
.tabs-sections img {
  margin-bottom: 20px;
}

.About-map h1 {
  color: #000!important;
}
.About-map a {
  color: #000!important;
}



.gray {
color: #a5a5a5;
}


.team-member {
margin: 15px 0;
padding: 0;
}

.team-member figure {
position: relative;
overflow: hidden;
padding: 0;
margin: 0;
}

.team-member figure img {
min-width: 100%;
}

.team-member figcaption p {
font-size: 16px;
}

.team-member figcaption ul {
list-style: none;
margin: 0;
padding: 0;
}

.team-member figcaption ul {
visibility: visible;
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
display: inline-block;
padding: 10px;
}

.team-member h4 {
margin: 10px 0 0;
padding: 0;
}

.team-member figcaption {
padding: 50px;
color: transparent;
background-color: transparent;
position: absolute;
z-index: 996;
bottom: 0;
left: 0;
width: 100%;
height: 0;
overflow: hidden;
visibility: hidden;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
visibility: visible;
color: #fff;
background: rgba(230, 78, 62, 0.9);
/* Primary color, can be changed via colors.css */

height: 100%;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
color: rgba(49, 49, 49, .97);
}

.team-member figure img {
-webkit-transform: scale(1) rotate(0) translateY(0);
-moz-transform: scale(1) rotate(0) translateY(0);
-o-transform: scale(1) rotate(0) translateY(0);
-ms-transform: scale(1) rotate(0) translateY(0);
transform: scale(1) rotate(0) translateY(0);
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
-webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
-moz-transform: scale(1.1) rotate(1deg) translateY(12px);
-o-transform: scale(1.1) rotate(1deg) translateY(12px);
-ms-transform: scale(1.1) rotate(1deg) translateY(12px);
transform: scale(1.1) rotate(1deg) translateY(12px);
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}
section#team {
  margin: 80px 0px;
}
.tabset label {
  font-size: 18px;
  margin: 0px 20px;
  padding: 10px;
  color: #555;
}

.our_clients_review{
          padding:40px 0px;
      }
      .our_clients_review .client_testimonial{
          border-left: 3px solid #3498db;
          border-top:1px solid rgba(0, 0, 0, 0.04);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.09);
          padding: 30px 30px 30px 30px;
          margin: 0 10px 4px;
      }
      .our_clients_review .client_testimonial .pic{
          width:100px;
          height:100px;
          float:left;
          margin-right:20px;
          border:2px solid rgba(0, 0, 0, 0.09);
      }
      .our_clients_review .client_testimonial .pic img{
          width: 100%;
          height: auto;
      }
      .our_clients_review .client_testimonial .client_info{
          float:left;
          margin-right:20px;
          width: calc(22% - 1.875rem);
      }
      .our_clients_review .client_testimonial .description{
          font-size: 13px;
          color: #918686;
          padding-top:10px;
          line-height: 20px;
          margin:0 0 3% 35%;
      }
      .our_clients_review .client_testimonial .title{
          display:block;
          font-size: 15px;
          font-weight: 700;
          margin: 0;
      }
      .our_clients_review .client_testimonial .post{
          font-size: 12px;
          display: block;
      }
      
      @media only screen and (max-width: 992px) {
          .our_clients_review .client_testimonial .description{margin:0 0 3% 44%;}
      }
      @media only screen and (max-width:640px) {
          .our_clients_review .client_testimonial .pic{
              float:none;
              width:100%;
              height: auto;
              margin: 0 0 10px;
          }
          .our_clients_review .client_testimonial .client_info{
              float:none;
              width:100%;
              margin: 0 0 10px;
          }
        
          .our_clients_review .client_testimonial .description{margin:0;}
      }

      .description p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.js-offerings_update_content_wrapper {
  padding: 20px;
  border: 1px solid #55555536;
  margin: 50px;
}
.offerings-updates-shared-card_content__description {
  font-size: 18px;
}
.u-flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
h2.c-condensedTitle.offerings-updates-shared-card_content__title.s-fontSize35.s-marginBottom1_5 a {
  color: #000;
  font-size: 34px;
  font-weight: 800;
}
.u-flex1.s-paddingLeft1 {
  font-size: 18px;
  color: #000;
}
a.LIKE {
  font-size: 18px;
  color: red;
}
a.COMMENT {
  font-size: 18px;
  color: blue;
}
.u-flex1.s-paddingLeft1 {
  margin: 20px 0px;
  border-bottom: 1px solid #5555553d;
  padding-bottom: 20px;
}
section#dunkles {
  padding: 20px;
}

.logo_panel .logo {
  padding: 0px;
}
.signup_form_gender{
  margin-bottom: 5px;
}
.disabled_form{
  background-color: #e44d3a94 !important;
  cursor: not-allowed !important;
}
.errorMessage{
  color: red;
}
button.Toastify__close-button.Toastify__close-button--error {
  padding: 0px;
  margin: 0px;
}
button.Toastify__close-button.Toastify__close-button--success {
  padding: 0px;
  margin: 0px;
}
.full_width{
  background-color: #38a9fe;
}
.user_timeline_input{
  opacity: 0;
  position: absolute;
  top: 148px;
  width: 200px;
  cursor: pointer;
  z-index: 2;
}
.user_timeline_input1{
  opacity: 0;
  position: absolute;
  top: 148px;
  width: 5px;
  cursor: pointer;
  z-index: 2;
  left:53px

}

.user_timeline_input2{
  opacity: 0;
  position: absolute;
  top: 148px;
  width: 5px;
  cursor: pointer;
  z-index: 2;
  left:110px
  
}
.user_timeline_camera{
  font-size: 17px;
    /* margin-top: 10px; */
    position: absolute;
    top: 195px;
    left: 75px;
    cursor: pointer;
    z-index: 1;
}
.timeline_image_view{
  height: 150px;
  width: 100%;
  padding: 7px;
}
button.video-react-big-play-button.video-react-big-play-button-left{
  top: 40% !important;
  left: 40% !important;

}

.comment-form textarea {
  min-height: 60px !important;
  height: 60px !important;
}
.comments-list{
  overflow-y: scroll;
  max-height: 300px;
}
.remindCss {
  margin-left: 200px;
  font-weight: 500;
}
#myModalExchange textarea {
  border-bottom: 1px solid #eeeeee !important;
}
.exchange_modal {
  position: absolute;
  right: 34px !important;
  /* top: 0; */
  bottom: -56px !important;
  /* transform: translateY(-44%) !important; */
  width: auto;
  line-height: 10px;
}
.add-smiles {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  line-height: 10px;
}
.central-meta {
  background: #fdfdfd none repeat scroll 0 0;
  border: 1px solid #ede9e9;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  margin-bottom: 17px;
  padding: 25px;
}
.friend-info {
  display: inline-block;
  position: relative;
  width: 100%;
}
.friend-info > figure {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 8%;
}
.friend-name {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  width: 90%;
}
.friend-name > span {
  color: #999;
  float: left;
  font-size: 12px;
  text-transform: capitalize;
  width: 100%;
}
.post-meta {
  float: left;
  margin-top: 15px;
  width: 100%;
}
.description {
  float: left;
  margin-top: 12px;
  width: 100%;
}
.description > p {
  margin-bottom: 20px;
}




.react-timerange-picker {
  display: inline-flex !important;
  position: relative !important;
}
.react-timerange-picker,
.react-timerange-picker *,
.react-timerange-picker *:before,
.react-timerange-picker *:after {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.react-timerange-picker--disabled {
  background-color: #f0f0f0 !important;
  color: #6d6d6d !important;
}
.react-timerange-picker__wrapper {
  display: flex !important;
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  align-items: center !important;
  border: thin solid gray !important;
}
.react-timerange-picker__inputGroup {
  min-width: calc((4px * 3) +  0.54em * 6  +  0.217em * 2) !important;
  height: 100% !important;
  flex-grow: 1 !important;
  padding: 0 2px !important;
  box-sizing: content-box !important;
}
.react-timerange-picker__inputGroup__divider {
  padding: 1px 0 !important;
  white-space: pre !important;
}
.react-timerange-picker__inputGroup__input {
  min-width: 0.54em !important;
  height: 100% !important;
  position: relative !important;
  padding: 0 1px !important;
  border: 0 !important;
  background: none !important;
  font: inherit !important;
  box-sizing: content-box !important;
  -moz-appearance: textfield !important;
}
.react-timerange-picker__inputGroup__input::-webkit-outer-spin-button,
.react-timerange-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.react-timerange-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1) !important;
}
.react-timerange-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em !important;
  padding-left: calc(1px +  0.54em) !important;
}
.react-timerange-picker__inputGroup__amPm {
  font: inherit !important;
  -moz-appearance: menulist !important;
}
.react-timerange-picker__button {
  border: 0 !important;
  background: transparent !important;
  padding: 4px 6px !important;
}
.react-timerange-picker__button:enabled {
  cursor: pointer !important;
}
.react-timerange-picker__button:enabled:hover .react-timerange-picker__button__icon,
.react-timerange-picker__button:enabled:focus .react-timerange-picker__button__icon {
  stroke: #0078d7 !important;
}
.react-timerange-picker__button:disabled .react-timerange-picker__button__icon {
  stroke: #6d6d6d !important;
}
.react-timerange-picker__button svg {
  display: inherit !important;
}
.react-timerange-picker__clock {
  width: 200px !important;
  height: 200px !important;
  max-width: 100vw !important;
  padding: 25px !important;
  background-color: white !important;
  border: thin solid #a0a096 !important;
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  z-index: 1 !important;
}
.react-timerange-picker__clock--closed {
  display: none !important;
}




.react-clock {
  display: block !important;
  position: relative !important;
}
.react-clock,
.react-clock *,
.react-clock *:before,
.react-clock *:after {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.react-clock__face {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  border: 1px solid black !important;
  border-radius: 50% !important;
}
.react-clock__hand {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 50% !important;
  right: 50% !important;
}
.react-clock__hand__body {
  position: absolute !important;
  background-color: black !important;
  transform: translateX(-50%) !important;
}
.react-clock__mark {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 50% !important;
  right: 50% !important;
}
.react-clock__mark__body {
  position: absolute !important;
  background-color: black !important;
  transform: translateX(-50%) !important;
}
.react-clock__mark__number {
  position: absolute !important;
  left: -40px !important;
  width: 80px !important;
  text-align: center !important;
}
.react-clock__second-hand__body {
  background-color: red !important;
}
.nav-btm-line {
  border-bottom: 2px solid #fff;
  margin-left: 0px;
  margin-right: 0;
}
.nav-btm-line .nav{
  border-bottom:none;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
  font-size: 29px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.middle h1 {
    font-weight: 700;
    color: #fff;
    font-size: 45px;
}
.overlay {
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #000000a6;
    position: absolute;
    z-index: 1;
    width: auto;
}
#particles-js{
  width: 100%;
  height: 100%;
  
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  background-repeat: no-repeat;
}
.timeline_image{
  height: 36px;
  width: 36px;
}
.DayPicker-Day.DayPicker-Day--foo.DayPicker-Day--today{
  background: #238ced !important;
  color: #fff !important;
}
.DayPicker-Month{
  margin: 12px !important;
}
.DayPicker-Footer{
  text-align: center !important;
}
.DayPicker-Months{
  margin-left: -7px !important;
}
.share_fa_aount{
  width: 22px;
  height: 20px;
  font-size: 20px;
}
.avatar_image_update{
  height: 170px;
    width: 100%;
}
.remove_group_image{

  float: right;
  cursor: pointer;
  border: 1px solid #ddd;
}
.group_member_th{

  font-size: 20px;
  text-align: center;
}
.group_member_td{

  font-size: 15px;
  text-align: center;
  padding: 5px;
}