body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.popup-chat-responsive .mCustomScrollbar{
  max-height: 300px;
  overflow-y: scroll !important;
}




.ui-block-title {
  position: unset!important;
}


.notification-list .inline-items {
  position: unset!important;
}

.icon-add {
  position: unset!important;
}


.widget li {
  position: unset!important;
}